.accordion-item{
    width:100%;
    border: none;
}
.accordion-button{
    width:100%;
    color: white;
    background-color: darkslategrey;
}
.accordion-button:not(.collapsed) {
    color:  white;
    background: none;
    box-shadow: none;
}
.decoration-none{
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
}
.accordion{
    width:100%;
}
.feed-section{
    background: white;
    padding: 4rem;
}
.create-btn{
    background: white;
    padding: 1rem;
}
.dashSideNav{
    height: 65vh;
    overflow-y: auto;
}
.mrt-5{
    margin-top: 3rem;
}
@media only screen and (max-width: 766px) {
    .feed-section{
        padding: 1rem;
    }
    .mrt-5{
        margin-top: 1rem;
    }
}